.card-padding {
  padding-top: 2rem;
}


.education,
.tech,
.work,
.leadership {
  padding: 30px;
}

.info {
  margin: auto;
}

h2 {
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
}

body,
section,
pre,
input {
  font-family: verdana;
}

footer {
  padding: 15px;
  text-align: center;
  background-color: rgb(206, 206, 206);
}

.nav {
  list-style-type: none;
  margin: 1;
  padding: 2;
  overflow: hidden;
  background-color: rgb(211, 211, 211);
  display: block;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  background-image: url(arrow.gif);
  background-repeat: no-repeat;
  background-position: 100% 0.4em;
  padding-right: 0.6em;
}

li a {
  color: white;
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


